@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  margin: 0;
  padding: 0; }

body {
  background: #efefef; }

header {
  width: 100%;
  height: 0.66667rem;
  display: flex; }
  header img {
    width: 100%;
    height: 100%; }

.banner1 {
  width: 100%;
  height: 3.53333rem; }
  .banner1 img {
    width: 100%;
    height: 100%; }
  .banner1:nth-child(3) {
    margin-top: 0.26667rem; }

aside {
  height: 3.57333rem;
  width: 100%;
  padding: 0 0 0 0.2rem;
  box-sizing: border-box;
  display: flex;
  margin-top: 0.2rem;
  background: #f7f7f7; }
  aside > div:nth-child(1) {
    height: 100%;
    width: 3.06667rem;
    display: flex;
    flex-direction: column; }
    aside > div:nth-child(1) > img {
      height: 0.49333rem;
      width: 0.61333rem;
      margin-top: -0.06667rem; }
    aside > div:nth-child(1) > ul {
      height: 3.16rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center; }
      aside > div:nth-child(1) > ul li:nth-child(1) {
        width: 2.56rem;
        height: 1.28rem;
        display: inline-block; }
        aside > div:nth-child(1) > ul li:nth-child(1) img {
          height: 100%;
          width: 100%; }
      aside > div:nth-child(1) > ul li:nth-child(2) {
        width: 2.56rem;
        height: 0.8rem;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        display: flex; }
        aside > div:nth-child(1) > ul li:nth-child(2) > span {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          width: 25%;
          box-sizing: border-box;
          font-size: 0.13333rem; }
          aside > div:nth-child(1) > ul li:nth-child(2) > span a {
            display: flex;
            width: 140%;
            transform: scale(0.6);
            justify-content: center; }
          aside > div:nth-child(1) > ul li:nth-child(2) > span img {
            width: 0.44rem;
            height: 0.49333rem; }
      aside > div:nth-child(1) > ul li:nth-child(3) {
        width: 3.2rem;
        height: 0.43333rem;
        background: #ff6e0f;
        font-size: 0.16rem;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.8); }
        aside > div:nth-child(1) > ul li:nth-child(3) a {
          color: #fff; }
  aside > div:nth-child(2) {
    height: 100%;
    width: 6.93333rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    position: relative;
    background: #fff; }
    aside > div:nth-child(2) div:nth-child(1) {
      height: 0.4rem;
      width: 100%;
      border-bottom: 1px solid #e1e1e1;
      display: flex;
      justify-content: space-between; }
      aside > div:nth-child(2) div:nth-child(1) span:nth-child(1) {
        height: 100%;
        display: flex;
        align-items: center; }
        aside > div:nth-child(2) div:nth-child(1) span:nth-child(1) img {
          width: 0.22667rem;
          height: 0.16rem; }
        aside > div:nth-child(2) div:nth-child(1) span:nth-child(1) a {
          width: 6rem;
          display: flex;
          align-items: center;
          font-size: 0.13333rem;
          transform: scale(0.8);
          margin-left: -0.53333rem; }
      aside > div:nth-child(2) div:nth-child(1) span:nth-child(2) {
        display: flex; }
        aside > div:nth-child(2) div:nth-child(1) span:nth-child(2) img {
          width: 0.34667rem;
          height: 0.26667rem;
          margin-top: -0.06667rem; }
    aside > div:nth-child(2) div:nth-child(2) {
      height: 1.2rem;
      width: 4.8rem;
      border-bottom: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      display: flex; }
      aside > div:nth-child(2) div:nth-child(2) span:nth-child(1) {
        display: flex;
        height: 100%;
        width: 3.33333rem;
        flex-direction: column;
        justify-content: center; }
        aside > div:nth-child(2) div:nth-child(2) span:nth-child(1) p {
          font-size: 0.24rem;
          color: #141414; }
        aside > div:nth-child(2) div:nth-child(2) span:nth-child(1) a {
          font-size: 0.16rem;
          transform: scale(0.8);
          margin-left: -0.37333rem;
          margin-top: 0.13333rem;
          color: #606060; }
      aside > div:nth-child(2) div:nth-child(2) span:nth-child(2) {
        display: flex;
        width: 1.93333rem;
        height: 100%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
        aside > div:nth-child(2) div:nth-child(2) span:nth-child(2) a {
          display: flex;
          width: 1.5rem;
          height: 0.41667rem; }
        aside > div:nth-child(2) div:nth-child(2) span:nth-child(2) input {
          font-size: 0.16rem;
          transform: scale(0.8);
          width: 1.5rem;
          height: 0.41667rem;
          background: #ff6f10;
          border-radius: 0.06667rem;
          border: none;
          color: #fff;
          cursor: pointer; }
    aside > div:nth-child(2) div:nth-child(3) {
      width: 4.8rem;
      height: 1.06667rem;
      display: flex;
      border-bottom: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1; }
      aside > div:nth-child(2) div:nth-child(3) span:nth-child(1) {
        display: flex;
        width: 0.4rem;
        height: 100%;
        border-right: 1px solid #e1e1e1;
        font-size: 0.16rem;
        padding: 0.06667rem;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        text-align: center; }
      aside > div:nth-child(2) div:nth-child(3) span:nth-child(2) {
        width: 4.4rem;
        height: 100%;
        position: relative; }
        aside > div:nth-child(2) div:nth-child(3) span:nth-child(2) a {
          display: inline-block;
          font-size: 0.16rem;
          transform: scale(0.8);
          height: 1.33333rem;
          width: 5.5rem;
          position: absolute;
          left: -0.53333rem;
          top: -0.13333rem;
          text-align: justify;
          line-height: 0.32rem;
          padding: 0 0.13333rem;
          box-sizing: border-box; }
    aside > div:nth-child(2) div:nth-child(4) {
      height: 0.8rem;
      width: 4.8rem;
      border-right: 1px  solid #e1e1e1;
      display: flex;
      flex-direction: column;
      font-size: 0.16rem; }
      aside > div:nth-child(2) div:nth-child(4) p {
        width: 100%;
        height: 33.3%;
        display: flex; }
        aside > div:nth-child(2) div:nth-child(4) p img {
          width: 0.89333rem;
          height: 0.17333rem; }
        aside > div:nth-child(2) div:nth-child(4) p span a {
          transform: scale(0.8); }
        aside > div:nth-child(2) div:nth-child(4) p span:nth-child(1) {
          display: flex;
          height: 100%;
          width: 40%;
          align-items: center; }
          aside > div:nth-child(2) div:nth-child(4) p span:nth-child(1) a {
            margin-left: -0.09333rem; }
        aside > div:nth-child(2) div:nth-child(4) p span:nth-child(2) {
          height: 100%;
          width: 60%;
          display: flex;
          justify-content: flex-start;
          position: relative; }
          aside > div:nth-child(2) div:nth-child(4) p span:nth-child(2) a {
            display: flex;
            position: absolute;
            left: -0.33333rem;
            width: 120%;
            text-indent: 0.4rem;
            text-align: right; }
    aside > div:nth-child(2) div:nth-child(5) {
      height: 3.06667rem;
      width: 1.30667rem;
      position: absolute;
      right: 0.2rem;
      top: 0.41333em; }
      aside > div:nth-child(2) div:nth-child(5) p {
        height: 50%;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        aside > div:nth-child(2) div:nth-child(5) p img {
          width: 0.85333rem;
          height: 0.85333rem; }
        aside > div:nth-child(2) div:nth-child(5) p span {
          display: flex;
          height: 100%;
          width: 30%;
          font-size: 0.2rem;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: 微软雅黑;
          color: #141414; }

.service {
  width: 100%;
  height: 1.16rem;
  border-top: 2px solid #db7a3a;
  margin-top: 0.09333em;
  background: #fff; }
  .service li {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .service li img {
      height: 0.61333rem;
      width: 0.61333rem; }
    .service li a {
      font-size: 0.16rem;
      color: #cccccc; }

footer {
  width: 100%;
  height: 0.46667rem;
  background: #fff;
  padding: 0 0 0 0.24rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #ccc;
  margin-bottom: 1.33333rem; }
  footer p {
    font-size: 0.16rem;
    display: flex;
    align-items: center; }
    footer p span {
      margin-left: 0.06667rem;
      display: flex;
      align-items: center; }
    footer p a {
      transform: scale(0.8); }
    footer p p:nth-child(2) a {
      margin-right: -0.06667rem; }
    footer p img {
      height: 0.18667rem;
      width: 0.18667rem; }

.fixed {
  width: 100%;
  height: 1.33333rem;
  font-size: 0.44rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background: #eee;
  color: #333; }
  .fixed pre {
    font-family: 微软雅黑; }
    .fixed pre span {
      background: #d9126c;
      color: #fff; }
  .fixed button {
    width: 2.66667rem;
    height: 1.06667rem;
    background: #4fab0b;
    border-radius: 0.33333rem;
    color: #fff;
    outline: none;
    border: none; }

/*# sourceMappingURL=index.css.map */
